[core]
	compression = 0
	autocrlf = input
	; pager = less -FRSX
	editor = nvim
	excludesFile = ~/.gitignore

[init]
	; templatedir = ~/.git_template
	defaultBranch = main

[alias]
	wt = worktree
	cf = !git config --global --edit

	amend = commit --amend -v
	no-edit = commit --amend --no-edit
	ci = commit -v

	co = checkout
	cb = checkout -b
	b = branch
	cur = branch --show-current

	d = diff --ws-error-highlight=all
	d0 = d --unified=0
	dc = d --cached
	dc0 = d --cached --unified=0
	both = d HEAD
	dw = d --color-words="[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"

	grepc = grep --cached --break --heading

	ff = merge --ff-only
	noff = merge --no-ff
	pom = push origin master
	st = status -sb
	stat = status --untracked-files=no

	# Like git whatchanged
	what = log --raw --no-merges

	# Beautiful log
	l = log --simplify-merges --graph --pretty="tformat:%C(yellow)%h%Creset\\ %Cgreen(%ar)%Creset\\ %C(blue)<%an>%Creset\\ %C(red)%d%Creset\\ %s"
	# Smart Log
	sl = log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset' --all --simplify-by-decoration
	summary = log --abbrev-commit --pretty=oneline --author="Ali.Bozorgzadeh" --since=last.mon --reverse

	clone = clone --progress --verbose

	# pretty print git objects
	cat = cat-file -p
	ls = ls-files
	# print the contents of the staging area or index
	index = ls-files -s
	ls-ignored = ls-files --others --directory --no-empty-directory

	; ctags = !.git/hooks/ctags
	abbrev = !sh -c 'git rev-parse --short ${1-`echo HEAD`}' -
	count = !sh -c 'git log --oneline | wc -l'

	# src: https://stackoverflow.com/a/8408640/13041067
	dupes = !"git ls-tree -r HEAD | cut -c 13- | sort | uniq -D -w 40"

	fixup = !sh -c 'git commit --fixup=$1 ${@:2}' -

	# Show just the HEAD commit message (no indent) and nothing else
	message = log -1 --pretty=format:%B
	msg = message

	one = log --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	ten = log -10 --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	oneline = log --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'

	# requires Git 1.5.4 or later
	p = add -p
	patch = add -p

	# requires Git 1.7.11.3 or later
	reword = commit --amend --only -v --

	# requires Git 1.6.2 or later
	rollback = !sh -c 'git reset --merge HEAD~${1-1}' -

	staged = diff --cached

	# All ignored and untracked files are also stashed and then cleanedup with `git clean`.
	stashall = stash --all

[user]
	name = Ali Bozorgzadeh
	email = 61201050+abzrg@users.noreply.github.com

[github]
	user = abzrg

[column]
	ui = auto

[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = true
	grep = auto

[color "diff-highlight"]
	oldHighlight = red bold 238
	newHighlight = green bold 238

[color "status"]
	added = green
	changed = red
	untracked = blue

; [interactive]
;	singlekey = true
;	diffFilter = diff-highlight

[pager]
	show-branch = true
	; status = true

[help]
	autocorrect = 10

[rebase]
	; Always pass --autosquash to rebase --interactive
	; autosquash recognizes the commit messages that start with 'fixup!' or 'squash!'
	; and rearranges the commits in the todo list automatically.
	autosquash = true

[merge]
	summary = true
	tool = fugitive
	# Adds a middle section, which is the code at the closest common parent in the commit tree
	conflictStyle = diff3
	log = 1000 #?

[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
	keepBackup = false

[pull]
	rebase = true

[push]
	# Only push the current branch (only if tracking is set up)
	default = tracking

[branch]
	autosetupmerge = always
	autosetuprebase = local
	sort = -committerdate  # show the branches that contain the latest commits first

# ignored by Git older than 1.8.2
[diff]
	algorithm = histogram
	# Added in Git 2.9.0 (experimental): more readable diffs.
	compactionHeuristic = true

[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[grep]
	lineNumber = true
	# requires Git built with PCRE support; ie:
	#   brew install git --with-pcre (on OS X)
	patternType = perl

[log]
	decorate = short

[status]
	submodulesummary = true

# Signing commits with SSH
[gpg]
	format = ssh

[commit]
	gpgsign = true

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

# Use ssh when cloning from GitHub
[url "git@github.com:"]
	insteadOf = "https://github.com/"

[http]
	# problem with cloning large repos
	postBuffer = 524288000

[include]
	path = ~/.gitconfig_private

# vim: noet ts=8 sw=8
